    <footer class="sticky-footer py-4 bg-dark text-white-50">
        <div class="container text-center">
        <small>Copyright &copy; Continuous Education</small>
        </div>
    </footer>
</html> 