
{{>header}}
    {{>masthead}}
    <body class="d-flex flex-column">
        <div class="container text-center">
            <section class="py-5">
                <div class="container">
                    <h2>In this system, you would be able to list all available courses, enroll in a course, see all students enrolled in a specific course and unsubscribe a student from one specific course. </h2>
                </div>
            </section>
        </div>
    </body>
{{>footer}}

    
